<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to TrimLink</title>
    <link rel="icon" href="./requirements/logoURL.png" type="icon">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;600;700&display=swap');
    </style>
<link rel="stylesheet" href="css/index.css">
<script defer src="./js/signup.js"></script>
<script defer src="./js/typed.js"></script>
<script defer src="./js/smoothScroll.js"></script>
<script defer src="./js/functions.js"></script>


<body>
    <header>
        <img src="./requirements/logo.png" alt="appLogo" id="logo">
        <nav>
            <ul>
                <li id="home">Home</li>
                <li id="contactUs">Contact Us</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="left smooth">
            <label for="element">This is about</label>
                <span id="element" class="color"></span>
        </div>
        <div class="right">
            <form action="/adduser" method="post" id="login_form">
                <div class="container smooth">
                    <span id="container_title">Sign up</span>
                    <input class="input" type='text' placeholder="Username" name="userName" required  maxlength="10">
                    <input class="input" type='email' placeholder="Email id" name="emailId" required>
                    <input class="input" type="password" placeholder="password" name="passWord" required>
                    <div class="buttons">
                        <button type="submit" id="signup_btn">Sign up</button>
                        <button type="submit" id="login_btn">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>About Us</h4>
                <p>TrimLink: Simplifying and shortening your URLs for seamless sharing.</p>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 TrimLink. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>