<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to TrimLink</title>
    <link rel="icon" href="./requirements/logoURL.png" type="icon">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;600;700&display=swap');
    </style>
<link rel="stylesheet" href="/css/index.css">
<script defer src="/js/status.js"></script>
<script defer src="/js/smoothScroll.js"></script>
<script defer src="/js/functions.js"></script>

<body>
    <header>
        <img src="./requirements/logo.png" alt="appLogo" id="logo">
        <nav>
            <ul>
                {{!-- <li id="home">Home</li>
                <li id="contactUs">Contact Us</li> --}}
            </ul>
        </nav>
    </header>
    <main>
        <form action="" method="post" id="login_form">
            <div class="container smooth">
                <span id="container_title">{{status}}</span>
            </div>
        </form>
    </main>
    <footer>
        <p>Trim Link - Your go-to URL shortening tool! Simplify your links for social media, emails, and beyond. Need help? <a href="subhasishdey619@gmail.com">Contact us</a>.</p>
    </footer>
</body>
</html>