:root{
    --color1:#edc7b7;
    --color2:#eee2dcb7;
    --color3:#bab2b5;
    --color4:#123c69;
    --color5:#ac3b61;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header{
    font-size: 1vw;
    display: flex;
    align-items: center; 
    height: 10vh;
    background-color: var(--color1);
    color: var(--color5);
}

#logo{
    width: 4vw;
}

#login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--color2);
}

.container{
    text-align: center;
    padding: 5vh 0vw;
    max-height: 70vh;
    width: 50vw;
    display: flex;
    border: none;
    border-radius: 2vw;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color5);
}

#container_title{
    color: var(--color2);
    font-size: 2vw;
    font-weight: bold;
    margin: 1vw auto;
}

.container input{
    width: 30vw;
    padding: 1vw;
    margin: 2vh auto;
    outline: none;
    border-radius: .5vw;
    border: none;
    font-size: 1vw;
}

.container button{
    font-size: .9vw;
    border-radius: .5vw;
    border: none;
    width: 10vw;
    padding: 1vw;
    margin: 2vh 1vh;
}

.buttons{
    margin: 3vh auto;
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--color2);
    font-size: .7vw;
}