:root{
    --color1:#edc7b7;
    --color2:#eee2dcb7;
    --color3:#bab2b5;
    --color4:#123c69;
    --color5:#ac3b61;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
}

/* smooth */
.smooth{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-1vw);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0vw);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 96vw;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 10vh;
    background-color: var(--color1);
    color: var(--color5);
    padding: 0vh 2vw;
    box-shadow: 0 .2vw .5vw rgba(0, 0, 0, 0.2);
}
header nav ul{
    font-size: .9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}


header nav li{
    font-weight: bold;
    margin: auto .4vw ;
    transition: all ease-in-out .3s;
    padding: .4vw;
    border-radius: .7vw;
}

header nav li:hover{
    cursor: pointer;
    scale: 1.1;
    color: var(--color2);
    background-color: var(--color5);
    
}

#logo{
    width: 10vw;
}

/* added */
body{
    background-color:var(--color2);
}

main{
    margin: 15vh auto;
    height: 90vh;
    max-width: 100vw;
    padding: 0vh 4vw;
    display: flex;
    justify-content:space-around;
}
main .left{
    margin: 25vh auto;
    font-size: 3vw;
    width: 50vw;
    padding: 1vh 3vw;
}

.left span{
    font-weight: bold;
    background-color: var(--color5);
    color: var(--color2);
}


/* added */


#login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container{
    text-align: center;
    padding: 5vh 0vw;
    max-height: 70vh;
    width: 50vw;
    display: flex;
    border: none;
    border-radius: 2vw;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color5);
}

#container_title{
    color: var(--color2);
    font-size: 2vw;
    font-weight: bold;
    margin: 1vw auto;
}

.container input{
    width: 30vw;
    padding: 1vw;
    margin: 2vh auto;
    outline: none;
    border-radius: .5vw;
    border: none;
    font-size: 1vw;
    transition: all ease .5s
}
.container input:hover{
    cursor: pointer;
    scale: 1.02;
}

.container button{
    font-size: .9vw;
    border-radius: .5vw;
    border: none;
    width: 10vw;
    padding: 1vw;
    margin: 2vh 1vh;
    transition: all ease .5s;
}

.buttons button:hover{
    scale: 1.1;
    cursor: pointer;
    color: var(--color5);
}

.buttons{
    margin: 3vh auto;
    display: flex;
    justify-content: center;
}


footer{
    height: 10vh;
   font-size: .7vw;
   text-align: center;
}
footer div{
   padding: .2vh; 
}